.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    width: 700px;
    background: white;
    border-radius: 18px;
    padding: 28px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.close {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.3rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.form input,
.form select,
.form textarea {
    padding: 14px;
    border: 1px solid #dcdfe4;
    border-radius: 10px;
}

.form textarea {
    grid-column: span 2;
    resize: none;
}

.footer {
    display: flex;
    justify-content: end;
    gap: 16px;
    margin-top: 28px;
}

.cancel {
    padding: 12px 20px;
}

.save {
    padding: 12px 20px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 10px;
}