:root {
    --primary: #069494;
    --primary-dark: #045e5e;

    --background: #f5f7fa;
    --white: #ffffff;

    --sidebar: #0f172a;
    --sidebar-hover: #1e293b;

    --text-primary: #111827;
    --text-secondary: #6b7280;

    --success: #16a34a;
    --danger: #dc2626;
    --warning: #f59e0b;

    --border: #e5e7eb;
}