.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    width: 550px;
    background: white;
    padding: 30px;
    border-radius: 18px;
}

.input,
.textarea {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: 1px solid #dcdfe4;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: end;
    gap: 16px;
    margin-top: 24px;
}

.save {
    background: var(--primary);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
}