.form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 10px;
}

.select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    margin-bottom: 18px;
    margin-top: 8px;
}